@import './base.css';

#app {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

body {
  display: flex;
}

@for $i from 0 through 1000 {
  .ht-#{$i} {
    height: ($i * 4px);
  }
}

@for $i from 0 through 1000 {
  .wt-#{$i} {
    width: ($i * 4px);
  }
}
